  body{
    background: #fafafa;
}  
    a:link{
	text-decoration: none;
    }
p{
   font-family: "Segoe UI";
   color:rgb(153, 153, 153);
}
#facebook{
     width:13px;
    height:13px;
    background: blue;
}
    #areaLogin 
  {
    position:relative;
    left:37%;
    top:18%;
    width:300px;
    height:270px;
  }
  #areaCadastro {
    position:relative;
    left:37%;
    top:15%;
    width:300px;
    height:370px;
  }
  #area2 {
    position:relative;
    left:37%;
    top:14%;
    width:300px;
    height:200px;
  }
  #area3 {
    position:relative;
    left:37%;
    top:15%;
    width:300px;
    height:100px;
  }
  #areaLogin #formularioLogin {
    position:absolute;
    display:block;  
    background: white;
  }
     #areaCadastro #formularioCadastro {
    position:absolute;
    display:block;  
    background: white;
  }
       #area2 #formulario2 {
    position:absolute;
    display:block;  
    background: white;
  }
     #area3 #formulario3 {
    position:absolute;
    display:block;  
    background: white;
  }
  fieldset2 {
    width:400px;
    height:300px;
  }
