/****************************************
* CSS COMUM
****************************************/
html{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    word-wrap: break-word; 
    text-shadow:0px 0px 7px rgba(0, 0, 0, 0.1); 
    background-image: url('../img/bg.png');
    color: #7D7D7D; 
    text-align: justify; 
    font-weight: 400;
    background-attachment: fixed;  
}
a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 11px;
}

h2 {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
}

input[type] {
    padding: 3px;
    border: none;
    border-bottom: 1px solid #000;
    width: 250px;
    margin-bottom: 25px;
}

.safisty{
    font-family: 'Satisfy', cursive;
}

/******************************
* CSS DO CADASTRO E LOGIN
******************************/

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #CACACA;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    transition: all ease .5s;
    width: 70%;
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
    background-color: #3897f0;
}

#formularioCadastro,
#formularioLogin {
    width: 300px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #c0c0c0;
    padding: 10px;
    text-align: center;
}

#formularioCadastro {
    float: left;
}

.containerLogin {
    width: 650px;
    margin: 0 auto;
}

#formularioLogin {
    float: right;
    margin-top: 90px;
}

/*
FEED.JSP CSS
*/
#top {
    top: 0;
    position: fixed;
    height: 80px;
    width: 100%; 
    text-align: center;
    background-color: black;
    box-shadow:0px 0px 7px black;
    font-weight: bold;
}
#logo-text{
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-top: 3px;
    font-size: 30px;
    padding: 20px 30px;
    transition: all ease .5s;
}
#logo-text:hover{
    background-color: aqua;
}
#menu-buttons{
    width: 220px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
.menu-button{
    margin-left: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #CACACA;
    color: white;
    padding: 9px 19px;
    transition: all ease .5s;
}
.menu-button:hover{
    background-color: #3897f0;
    box-shadow: 0px 0px 15px gray;
}
#menu{
    position: fixed;
    top: 150px;
    left: 100px;
    width: 240px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
}
#menu h2{
    margin: 0px 10px;
}
#menu-user-image{
    margin: 10px;
    margin-bottom: 0;
    width: 220px;
    height: 200px;
    background-color: #D7D7D7;
}
.post {
    box-shadow: 0px 0px 15px gray;
    margin: auto;
    width: 500px;
    height: 450px;
    text-align: left;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 100px;
}
.post-title{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    background:linear-gradient(rgb(0,0,0), rgb(55,55,55), rgb(0,0,0));
}
.post-title p{
    padding: 10px;
    font-size: 20px;
    color: white;
}
.post-image-div{
    padding: 5px 10px;
}
.post-image{
    box-shadow: 0px 0px 6px gray;
    border-radius: 5px;
    width: 480px;
    height: 340px;
}
.post-footer{
    width: 500px;
    display: inline-block;
    text-align: center;
}
.footer-button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 5px;
    padding: 5px 120px;
    transition: all ease .5s;
    border-radius: 10px;
    background-color: #CACACA;
}
.footer-button:hover{
    box-shadow: 0px 0px 15px gray;
    background-color: #2897F0;
}
.footer-button:active{
    box-shadow: 0px 0px 15px gray;
    background-color: #0857B0;
}
/*
Fim da feed.jsp CSS
inicio da perfil.jsp CSS
*/
#containerPerfil{
    margin: auto;
    margin-top: 100px;
    width: 840px;
    height: 480px;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    border-radius: 5px;
    padding: 20px;
}
#headerPerfil{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: gray;
    color: black;
    font-size: 20px;
    padding: 12px;
    margin-bottom: 30px;
}
#formPerfilImage{
    float:left;
    width: 300px;
}
#formPerfilImage img{
    margin: auto;
    margin-bottom: 30px;
    width: 260px;
    height: 240px;
    background-color: #D7D7D7;
}
#formPerfil{
    float: right;
    width: 500px;
    display: block;
}
/*
Fim da perfil.jsp CSS
Inicio da galeria.jsp CSS
*/
.container{
    margin: auto;
    margin-top: 100px;
    width: 900px;
    background-color: white;
    box-shadow: 0px 0px 15px gray;
    border-radius: 5px;
    padding: 20px;
}
#novo-graphite{
    margin: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all ease .5s;
    display: none;
}
#novo-graphite-menu{
    margin: auto;
    margin-top: 90px;
    width: 260px;
    height: 350px;
    background-color: white;
    box-shadow: 0px 0px 15px whitesmoke;
    border-radius: 5px;
    padding: 20px;
}
#novo-graphite-menu-top{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-bottom-style: solid;
    border-width: 1px;
    margin-bottom: 40px;
}
#novo-graphite-menu-form{
    text-align: center;
}
#novo-graphite-menu-close{
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(155, 0, 0, 0.6);
    color: white;
    box-shadow: 0px 0px 10px gray;
    padding: 5px 10px;
    display: block;
}
#button-new{
    text-align: center;
}
.button-new-graph{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    margin: 5px;
    padding: 10px 120px;
    transition: all ease .5s;
    border-radius: 10px;
    background-color: #CACACA;
    cursor: default;
}
.button-new-graph:hover {
    box-shadow: 0px 0px 15px gray;
    background-color: #2897F0;
    cursor: pointer;
}
.button-new-graph:active{
    box-shadow: 0px 0px 15px gray;
    background-color: #0857B0;
}
#galeriaFotos{
    border-radius: 0px;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    height: 420px;
}
.grafite{
    border-radius: 5px;
    background-color: whitesmoke;
    float: left;
    display: block;
    margin: 10px;
    padding: 10px;
    width: 240px;
    height: 200px;
    box-shadow: 0px 0px 15px gray;
}
.grafite img{
    width: 240px;
    height: 180px;
}