/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2017, 16:39:30
    Author     : Fernando
*/

#area 
{
    position:relative;
    left:37%;
    top:18%;
    width:300px;
    height:320px;
}
#area2
{
    position:relative;
    left:37%;
    top:21%;
    width:40px;
    height:20px;
}
#area #formulario
{
    position:absolute;
    display:block;  
    background: white;
}
#area2 #formulario2
{
    position:absolute;
    display:block;  
    background: white;
}

fieldset
{
    width:300px;
    height:320px;
}
#fieldset2
{
    width:300px;
    height:20px;
}